.main_containt
{
    background: #333333;
    height: 50px;
    border-radius: 5px;
}
.main_header_text
{
    font: 20px sans-serif;
    color: rgb(168, 196, 219);
    //padding: 10px 25px 5px;
    padding-left: 20px;
    padding-top: 12px;
    white-space: nowrap;
}
a {
    text-decoration: none !important;
    color: red;
}