.tr {
    text-align: right; 
    height: 50px;
    width: 100px;
}


.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  .custom_hight
  {
      height: auto;
  }

  .cust_bag
  {
      background-color:#2b42c4;;
      color: rgb(230, 233, 235);
      height: 50px;
  }