<div class="main_leftnav">
  <div style="padding: 20px; color: #2e2d2d;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 50px 17px;font-weight: bold">
    <div class="leftnav_user"></div>
     <div style="padding: 11px; color: #d65b22; padding-left: 15px">&nbsp;<a href="#">{{profile.firstName +" " + profile.lastName}}</a></div>
  </div>
  <div class="leftnav_main">
    <div>
      <a routerLink="">
       <div class="leftnav_content menu nenu_click">
         Dashboard
        </div>
    </a>
    </div>
    &nbsp;
    <div><a routerLink="user">
    <div class="leftnav_content menu nenu_click">
        Manage User
    </div>
  </a>
    </div>
    &nbsp;
    <div><a routerLink="customer">
    <div class="leftnav_content menu nenu_click">
      Manage Customer
    </div>
    </a>
    </div>
    &nbsp;
  </div>
</div>

